.studentsgrid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; }

.randomStudent {
  text-align: center; }

.students-container {
  text-align: center; }

.batch-page h1 {
  text-align: center; }
